    .html .body {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        background-color: #ddd;
    }
    
    
    .comment .comments {
        width:60%;
        background-color: white;
        box-sizing: border-box;
        border: blanchedalmond;

        box-shadow: 0 0 7px 1px rgba(60, 60, 60, 0.4);
        border-radius: 10px;

    }

  

    .date {
        font-size: 0.7em;
        color: lightgray;
    }
  
    
  
    .comment img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
      }
  
    .reply {
        margin-left: 60px;
      }
  
      @media (max-width: 600px) {
        .comment {
          font-size: 14px;
        }
      }